.filter {
    margin-bottom: 14px;
    background-color: rgb(210, 218, 219);
    padding: 12px;
    color: black;
    border-radius: 4px;
}

.filter .active {
    background-color: rgb(246, 246, 122);
}

.bold {
    font-weight: bold;
}

.calendar {
    
}

.calendar .day-header 
{
    font-weight: bold;
    width: 180px; 
    margin-right: 8px;
    margin-bottom: 6px;
    padding: 5px; 
    float:left;
}

.calendar .day {
    width: 180px; 
    height: 320px;
    margin-right: 8px;
    margin-bottom: 6px;
    padding: 5px; 
    border: 1px solid gray;
    float:left;
    overflow: auto;
}

.calendar .day.registered {
    background-color: rgb(246, 246, 122);
}

.person .btn {
    display: none;
}

.person .res-btn-delete {
    padding: 1px 6px;
}

.person:hover {
    border-bottom: 1px solid silver;
}

.person:hover .btn {
    display: inline-block;
}