body {
    padding-top: 237px;    
}

.filter {
    margin-bottom: 14px;
    background-color: rgb(210, 218, 219);
    padding: 12px;
    color: black;
    border-radius: 4px;
}

.filter .active {
    background-color: rgb(246, 246, 122);
}

.bold {
    font-weight: bold;
}

.note {
    color: #666;
}

.calendar .note {
    display: inline-block;
    margin-left: 5px;
}

.calendar .day-header 
{
    font-weight: bold;
    width: 200px; 
    margin-right: 8px;
    margin-bottom: 6px;
    padding: 5px; 
    float:left;
}

.calendar .day {
    width: 200px; 
    height: 320px;
    margin-right: 8px;
    margin-bottom: 6px;
    border: 1px solid gray;
    float:left;
    overflow: auto;
    padding: 0px;
}

.day .btn-add {
    margin-right: 10px;
}

.day .counter {
    background-color: rgb(162, 203, 98);
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
    font-weight: bold;
    display: inline-block;
}

.day .counter.overlimit 
{
    background-color: rgb(189, 38, 38);
    color: white;
}

.calendar .day.registered {
    background-color: rgb(246, 246, 122);
}

.calendar .day header {
    background-color: rgb(210, 218, 219); /*same as filter */
    border-bottom: 1px solid #444;    
    padding: 5px; 
    padding-bottom: 7px;    
}

.calendar .people {
    padding: 5px;
}

/* http://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class */
.day .person.overlimit {
    color: red;
    font-weight: bold;
    
    border-top: 1px solid red;
}

.day .person.overlimit ~ .person.overlimit {
    border-top: none;
}

.person .btn {
    display: none;
}

.person .res-btn-delete {
    padding: 1px 6px;
}

.person:hover {
    border-bottom: 1px solid silver;
}

.person:hover .btn {
    display: inline-block;
}