<form  class="form-inline filter">
    <select ng-options="a.Id as a.Name for a in vm.classes" ng-model="vm.filter.class" ng-change="vm.loadReservation()" class="form-control"> 
        <option value="">Vyber třídu</option>
    </select>
    
    <select ng-options="a.Id as a.Name for a in vm.getPeopleForClass(vm.filter.class)" ng-model="vm.filter.person" class="form-control" >
        <option value="">Vyber dítě</option>
    </select>
    
    <select ng-options="a.Id as a.Name for a in vm.months" ng-model="vm.filter.month" class="form-control" >
        <option value="">Vyber měsíc</option>
    </select>
</form>

<div class="loading" ng-show="vm.isLoading">Načítám ... </div>

<div class="calendar" ng-show="vm.isLoading == false">
    <table class="table">
        <thead>
            <tr>
                <th class="day-header" ng-repeat="day in vm.weekDays" ng-bind="day.Name"></th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="week in vm.reservations.Weeks">
                <td class="day" ng-repeat="day in week.Days" ng-class="{'registered': vm.isPersonRegistered(vm.filter.person, day)}">
                    <strong>{{day.Date}}</strong>
                    <br/>
                    <strong>Obsazeno: {{day.Filled}} z {{day.Capacity}}</strong>
                    <strong>Volných míst: {{day.Capacity - day.Filled}}</strong>
                    <strong ng-if="day.Inqueue.length > 0">Čekající: {{day.Inqueue.length}}</strong>

                    <div class="people" ng-if="day != null">
                        <div class="person" ng-repeat="p in day.People track by $index">
                            <span ng-bind="p.Name"></span>
                            <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="vm.remove(p, day)">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </td>    
            </tr>
            
        </tbody>
    </table>
</div>