<div class="filter">
    <select ng-options="a.Id as a.Name for a in vm.classes" ng-model="vm.filter.class">
        <option value="">Třída</option>
    </select>
    
    <select ng-options="a.Id as a.Name for a in vm.getPeopleForClass(vm.filter.class)" ng-model="vm.filter.person">
        <option value="">Dítě</option>
    </select>
    
    <select ng-options="a.Id as a.Name for a in vm.months" ng-model="vm.filter.month">
        <option value="">Měsíc</option>
    </select>
</div>

<div class="calendar">
    <div class="day-header" ng-repeat="day in vm.weekDays" ng-bind="day.Name"></div>
    <div class="day" ng-repeat="day in vm.reservations.Days">
        {{day.Date}}
        <br/>
        <div class="people">
            <div ng-repeat="p in day.People track by $index" ng-bind="p.Name" ng-class="{'registered': vm.isPersonRegistered(vm.filter.person, day)}"></div>
        </div>
    </div>
</div>