<div class="filter">
    <select ng-options="a.Id as a.Name for a in vm.classes" ng-model="vm.filter.class">
        <option value="">Třída</option>
    </select>
    
    <select ng-options="a.Id as a.Name for a in vm.getPeopleForClass(vm.filter.class)" ng-model="vm.filter.person">
        <option value="">Dítě</option>
    </select>
    
    <select ng-options="a.Id as a.Name for a in vm.months" ng-model="vm.filter.month">
        <option value="">Měsíc</option>
    </select>
</div>

<div class="calendar">
    <table class="table">
        <thead>
            <tr>
                <th class="day-header" ng-repeat="day in vm.weekDays" ng-bind="day.Name"></th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="week in vm.reservations.Weeks">
                <td class="day" ng-repeat="day in week.Days" ng-class="{'registered': vm.isPersonRegistered(vm.filter.person, day)}">
                    <strong>{{day.Date}}</strong>
                    <br/>
                    <div class="people" ng-if="day != null">
                        <div ng-repeat="p in day.People track by $index" ng-bind="p.Name"></div>
                    </div>
                </td>    
            </tr>
            
        </tbody>
    </table>
</div>